<div class="container-fluid full-page-height centered-flex">
  <div class="col-lg-3 col-md-5 col-sm-11 col-xs-11">
    <form [formGroup]="authForm" (ngSubmit)="submitForm()">
      <div class="login-box">
        <div class="app-form-row center-text">
          <img src="assets/images/set-password.svg" height="80" alt="" />
        </div>
        <div class="app-form-row center-text">
          <span>Enter your new password to activate your account</span>
        </div>
        <div class="app-form-row">
          <input
            type="text"
            class="input-text full-width"
            placeholder="Password"
          />
        </div>
        <div class="app-form-row">
          <input
            type="text"
            class="input-text full-width"
            placeholder="Confirm Password"
          />
        </div>
        <div class="app-form-row">
          <button class="app-button text-white bg-main full-width uppercase">
            Activate account
          </button>
        </div>
        <div class="app-form-row center-text">
          <span>
            Don't need this now?
            <span
              class="link-up auth-link bold"
              [routerLink]="['']"
              routerLinkActive="router-link-active"
              >Click here</span
            >
          </span>
        </div>
      </div>
    </form>
  </div>
</div>
