<div class="container-fluid full-page-height centered-flex">
  <div class="col-lg-3 col-md-5 col-sm-11 col-xs-11">
    <form [formGroup]="authForm" (ngSubmit)="submitForm()">
      <div class="login-box">
        <div class="app-form-row center-text">
          <img src="assets/images/set-password.svg" height="80" alt="" />
        </div>
        <div class="app-form-row center-text">
          <span class="block route-header-text">{{ action }}</span>
          <span>Enter your new password to activate your account</span>
        </div>
        <div class="app-form-row">
          <input
            type="password"
            class="input-text full-width"
            placeholder="Password"
            formControlName="password"
          />
          <div *ngIf="password.invalid && submitted" class="right-text">
            <span class="error-text" *ngIf="password.errors.required"
              >Please enter your password</span
            >
          </div>
        </div>
        <div class="app-form-row">
          <input
            type="password"
            class="input-text full-width"
            placeholder="Confirm Password"
            formControlName="confirmPassword"
          />
          <div *ngIf="confirmPassword.invalid && submitted" class="right-text">
            <span class="error-text" *ngIf="confirmPassword.errors.required"
              >Please confirm your address</span
            >
          </div>
        </div>
        <div class="app-form-row">
          <button
            type="submit"
            class="app-button text-white bg-main full-width uppercase"
          >
            Activate account
          </button>
        </div>
        <div class="app-form-row center-text">
          <span>
            Don't need this now?
            <span
              class="link-up auth-link bold"
              [routerLink]="['']"
              routerLinkActive="router-link-active"
              >Click here</span
            >
          </span>
        </div>
      </div>
    </form>
  </div>
</div>
