<div class="container-fluid">
    <div class=" bg-white">
      <div class="route-heading">
        <span class="route-sub-header-text">Sales </span>
      </div>
      <div class="adjacent-item-grid-4">
        <div class="function-box center-text">
            <div class="function-icon">
                <i class="uil uil-glass-martini-alt"></i>
            </div>
            <span class="function-text block">Bar Sale</span>
            <span class="subtitle">Sell from the bar</span>
        </div>
        <div class="function-box center-text">
            <div class="function-icon">
                <i class="uil uil-tag-alt"></i>
            </div>
            <span class="function-text block">Laundry Sale</span>
            <span class="subtitle">Sell from the laundy</span>
        </div>
        <div class="function-box center-text">
            <div class="function-icon">
                <i class="uil uil-tag-alt"></i>
            </div>
            <span class="function-text block">Kitchen Sale</span>
            <span class="subtitle">Make a sale from the kitchen</span>
        </div>
      </div>
    </div>
  </div>
  