<div class="container-fluid">
    <div class=" bg-white">
      <div class="route-heading">
        <span class="route-sub-header-text">Front desk / Rooms </span>
      </div>
      <div class="adjacent-item-grid-4">
        <div class="function-box center-text">
            <div class="function-icon">
                <i class="uil uil-bed-double"></i>
            </div>
            <span class="function-text block">Book Room</span>
            <span class="subtitle">Make a room booking</span>
        </div>
      </div>
    </div>
  </div>
  