<div class="container-fluid">
    <div class="route-box bg-white">
      <div class="route-heading">
        <!-- <span class="route-header-text">B 54 </span> -->
      </div>
      <!-- <div class="">
        <app-function-overview></app-function-overview>
      </div> -->
      <div class="vert-padding">
          <app-room-overview></app-room-overview>
      </div>
      <hr>
      <div class="vert-padding">
          <app-sales-overview></app-sales-overview>
      </div>
    </div>
  </div>
  