<div class="collection-item-box">
  <div class="billerCategory-ci-heading ellipse-overflow">
    <span
      class="collection-item-title ellipse-overflow text-main"
      matTooltip="{{ user?.firstName }} {{user?.lastName}}"
      >{{ user?.firstName }} {{user?.lastName}}</span
    >
    <hr />
    <span class="subtitle block">{{ user?.emailAddress }}</span>
  </div>
  <div class="billerCategory-image-layer">
    <div class="ellipse-overflow" matTooltip="{{ user?.firstName }}">
      <!-- {{ billerCategory?.description }} -->
    </div>
  </div>
  <div class="collection-item-footer two-column-grid">
    <!-- <div>
          <span class="subtitle block">Date Enrolled</span>
          <span class="subtitle block">{{
            new Date() | date: "mediumDate"
          }}</span>
        </div> -->
  </div>
</div>
