<div class="container-fluid">
  <div class="route-box bg-white">
    <div class="route-heading">
      <span class="route-header-text">New Room </span>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-11">
        <form [formGroup]="appForm" (ngSubmit)="(submitForm)">
          <div class="app-form-row">
            <label for="" class="app-form-prompt">Room Title</label>
            <input type="text" class="input-text" placeholder="B23" />
          </div>
          <div class="app-form-row">
            <label for="" class="app-form-prompt">Room Category</label>
            <input type="text" class="input-text" placeholder="Standard" />
          </div>

          <div class="app-form-row">
            <label for="" class="app-form-prompt">Room Description</label>
            <angular-editor
              formControlName="roomDescription"
              [config]="editorConfig"
            ></angular-editor>
          </div>
          <div class="app-form-row">
            <button class="app-button text-white bg-main uppercase">
              Create Room
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
